/* Overall Container */ 
.substitute-container, .substitute-result{
    padding: 2%;
    text-align: center; 
}

/* Fonts */ 
.substitute-container h3, h4{
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
}

.substitute-container p, h5{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

/* Results Container */ 
.substitute-result{

}