/* Background Img */ 
.background {
  background-image: url("../images/cutting_board.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #e8e3d5;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  min-height: 100vh;
}

.text-content {
  max-width: 800px;
  margin: 0 auto;
}

/* Alignments */ 
.intro-words{
    margin-top: 2%;
    text-align: center;
}

/* Fonts */ 
.intro-title{
  font-family: "Alegreya SC", serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 1%;
  font-size: 500%;
}

.intro-body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 120%;
}

.btn-text{
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150%;
}

/* Collapsible */ 
.intro-collapse{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  background-color: #6b8573 !important;
  color:rgb(191, 191, 191) !important; 
  float: center;
}
.btn:hover{
  background-color: #5c7463 !important;
}