/* Background Img */ 
.background {
  background-image: url("../images/cutting_board.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #e8e3d5;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  min-height: 100vh;
}

.text-content {
  max-width: 800px;
  margin: 0 auto;
}

/* Alignments */ 
.intro-words{
    margin-top: 2%;
    text-align: center;
}

/* Fonts */ 
.intro-title{
    font-family: "Alegreya SC", serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 1%;
    font-size: 500%;
}

.intro-body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 120%;
}

/* Collapsible */ 
.intro-collapse{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #6b8573bf;
  color: rgb(222, 219, 219);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.intro-collapse .active, .collapsible:hover {
  background-color: #516457;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
